<mat-card>
    <div class="logo-container">
        <img src="logo_welcome.png" alt="Welcome Airport Logo" class="logo" />
    </div>
    <mat-toolbar color="primary">Ryczałty odwołane loty</mat-toolbar>
    <mat-divider></mat-divider>
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- City Column -->
            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef> Miasto </th>
                <td mat-cell *matCellDef="let element"> {{ element.city }} </td>
            </ng-container>

            <!-- Personal Rate Column -->
            <ng-container matColumnDef="personalRate">
                <th mat-header-cell *matHeaderCellDef> Osobowy </th>
                <td mat-cell *matCellDef="let element"> {{ element.personalRate }} </td>
            </ng-container>

            <!-- Bus Rate Column -->
            <ng-container matColumnDef="busRate">
                <th mat-header-cell *matHeaderCellDef> BUS </th>
                <td mat-cell *matCellDef="let element"> {{ element.busRate }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</mat-card>
