<div class="centered-container">
    <div class="sticky-section">
        <div class="sticky-header">
            <div *ngIf="hotel?.oldName" class="old-name-badge">
                Poprzednia nazwa: {{ hotel?.oldName }}
            </div>
            <h3>{{ hotel?.name }}</h3>
        </div>
        <div class="back-button">
            <button mat-raised-button (click)="goBack()">Powrót</button>
        </div>
    </div>

    <!-- Main Content -->
    <div class="lump-sum-container">
        <mat-card
                *ngFor="let lumpSum of lumpSums"
                class="lump-sum-card"
                [ngClass]="{
                'red-card': lumpSum.name.includes('Lotnisko'),
                'yellow-card': lumpSum.name.includes('Sopot'),
                'blue-card': lumpSum.name.includes('Gdynia')
            }"
        >
            <mat-card-content>
                <h4>{{ lumpSum.name }}</h4>

                <div class="tariff-section">
                    <div class="tariff-header">
                        <p class="tariff-title">1 Taryfa</p>
                    </div>
                    <div class="tariff-values">
                        <div class="tariff-badge">
                            <span class="badge osobowy">Osobowy:</span>
                            <span>{{ lumpSum.tariff1.carValue }} zł</span>
                        </div>
                        <div class="tariff-badge">
                            <span class="badge bus5-6">{{lumpSum.tariff1.bus7_8Value ? 'Bus 5-6:' : 'Bus:'}}</span>
                            <span>{{ lumpSum.tariff1.bus5_6Value }} zł</span>
                        </div>
                        <div *ngIf="lumpSum.tariff1.bus7_8Value" class="tariff-badge">
                            <span class="badge bus7-8">Bus 7-8:</span>
                            <span>{{ lumpSum.tariff1.bus7_8Value }} zł</span>
                        </div>
                    </div>
                </div>

                <div class="tariff-section">
                    <div class="tariff-header">
                        <p class="tariff-title">2 Taryfa</p>
                    </div>
                    <div class="tariff-values">
                        <div class="tariff-badge">
                            <span class="badge osobowy">Osobowy:</span>
                            <span>{{ lumpSum.tariff2.carValue }} zł</span>
                        </div>
                        <div class="tariff-badge">
                            <span class="badge bus5-6">{{lumpSum.tariff2.bus7_8Value ? 'Bus 5-6:' : 'Bus:'}}</span>
                            <span>{{ lumpSum.tariff2.bus5_6Value }} zł</span>
                        </div>
                        <div *ngIf="lumpSum.tariff2.bus7_8Value" class="tariff-badge">
                            <span class="badge bus7-8">Bus 7-8:</span>
                            <span>{{ lumpSum.tariff2.bus7_8Value }}  zł</span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
