<div class="centered-container">
    <div class="sticky-section">
        <div class="sticky-header">
            <h3>{{ hotel?.name }}</h3>
        </div>

        <div class="info-box">
            Przełącz między stawkami dla busa a osobówki
        </div>

        <div class="sticky-toggle">
            <mat-button-toggle-group
                    appearance="legacy"
                    [(ngModel)]="showBusPrices"
                    name="priceToggle"
                    aria-label="Price Toggle"
            >
                <mat-button-toggle [value]="false">Osobowy</mat-button-toggle>
                <mat-button-toggle [value]="true">Bus</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>

    <!-- Main Content -->
    <div class="lump-sum-container">
        <mat-card
                *ngFor="let lumpSum of lumpSums"
                class="lump-sum-card"
                [ngClass]="{
                'red-card': lumpSum.name.includes('Lotnisko'),
                'yellow-card': lumpSum.name.includes('Sopot'),
                'blue-card': lumpSum.name.includes('Gdynia')
            }"
        >
            <mat-card-content>
                <h4>{{ lumpSum.name }}</h4>

                <div class="tariff-section">
                    <div class="tariff-header">
                        <p class="tariff-title">1 Taryfa</p>
                    </div>
                    <div class="tariff-values">
                        <div *ngIf="!showBusPrices">Osobowy: {{ lumpSum.tariff1.carValue }} zł</div>
                        <div *ngIf="showBusPrices">Bus: {{ lumpSum.tariff1.busValue }} zł</div>
                    </div>
                </div>

                <div class="tariff-section">
                    <div class="tariff-header">
                        <p class="tariff-title">2 Taryfa</p>
                    </div>
                    <div class="tariff-values">
                        <div *ngIf="!showBusPrices">Osobowy: {{ lumpSum.tariff2.carValue }} zł</div>
                        <div *ngIf="showBusPrices">Bus: {{ lumpSum.tariff2.busValue }} zł</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="back-button">
        <button mat-raised-button (click)="goBack()">Powrót</button>
    </div>
</div>
