.image-container {
    text-align: center;
    margin-top: 40px;
}

.hint {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: underline;
}

.thumbnail {
    max-width: 60vw;       /* zmniejszona z 80vw */
    max-height: 300px;     /* ograniczenie wysokości */
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
    touch-action: none;
}

.thumbnail:hover {
    transform: scale(1.03);
}
