
<mat-sidenav-container class="sidenav-container">
    <!-- Side Navigation Drawer -->
    <mat-sidenav #sidenav mode="over" [opened]="isSidenavOpen" class="sidenav" [ngClass]="{'open': isSidenavOpen}">
        <ul class="sidenav-links">
            <li>
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="closeSidenav()">Rejony</a>
            </li>
            <li>
                <a routerLink="/hotel" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="closeSidenav()">Hotele</a>
            </li>
            <li>
                <a routerLink="/"  (click)="closeSidenav()">Głosowanie (W trakcie programowania)</a>
            </li>
            <li>
                <a routerLink="/"  (click)="closeSidenav()">Baza informacji (W trakcie programowania)</a>
            </li>
            <li>
                <a routerLink="/"  (click)="closeSidenav()">Informacja o systemie</a>
            </li>
            <li>
                <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="closeSidenav()">Panel Administratora</a>
            </li>
            <li *ngIf="!(isLoggedIn$ | async)">
                <a routerLink="/login" routerLinkActive="active" (click)="closeSidenav()">Zaloguj</a>
            </li>
            <li *ngIf="isLoggedIn$ | async">
                <a href="javascript:void(0)" (click)="logout()">Wyloguj</a>
            </li>
        </ul>
    </mat-sidenav>

    <!-- Main Content with Navbar and Search Bar -->
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="navbar sticky-navbar">
            <!-- Toggle Button for Sidebar with animation class -->
            <button mat-icon-button (click)="toggleSidenav()" class="menu-button" [ngClass]="{'rotated': isSidenavOpen}">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="navbar-title">Neptun Taxi - Strefa Kierowcy 2.0</span>
        </mat-toolbar>

    <div class="page-content">

        <app-search-bar></app-search-bar>
        <router-outlet></router-outlet>
    </div>
    </mat-sidenav-content>

</mat-sidenav-container>
