<div style="height: 400px; width: 100%;" class="rounded-xl overflow-hidden">
    <google-map
            height="100%"
            width="100%"
            [center]="center"
            [zoom]="12"
            [options]="{ mapTypeId: 'roadmap' }">

        <map-directions-renderer
                *ngIf="directions"
                [directions]="directions">
        </map-directions-renderer>

        <map-polygon
                *ngFor="let coords of polygonCoords"
                [paths]="coords"
                [options]="polygonOptions">
        </map-polygon>

        <map-polygon
                [paths]="gdanskCityCentreFixedPrices"
                [options]="{
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.2
    }">
        </map-polygon>

        <map-polygon
                [paths]="airportFixedPrice"
                [options]="{
    strokeColor: '#800080',
    strokeOpacity: 0.9,
    strokeWeight: 2,
    fillColor: '#800080',
    fillOpacity: 0.25
  }">
        </map-polygon>

        <map-polygon
                [paths]="sopotCityCenterFixedPrices"
                [options]="{
    strokeColor: '#FF69B4',
    strokeOpacity: 0.9,
    strokeWeight: 2,
    fillColor: '#FF69B4',
    fillOpacity: 0.25
  }">
        </map-polygon>

    </google-map>

</div>
