<div class="main-container">
    <!-- Search Bar -->
    <div class="search-bar-wrapper">
        <mat-form-field appearance="outline" class="search-bar">
            <mat-label>Wyszukiwanie hotelu</mat-label>
            <input matInput [(ngModel)]="searchTerm" placeholder="Wpisz nazwę hotelu" />
        </mat-form-field>
    </div>

    <!-- Hotel Cards -->
    <div class="hotel-container">
        <mat-card *ngFor="let hotel of filteredHotels()" class="hotel-card" (click)="viewHotelDetails(hotel.id)">
            <mat-card-header>
                <mat-card-title>{{ hotel.name }}</mat-card-title>
                <mat-card-subtitle>Region: {{ hotel.region.name }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p><strong>Ryczałty:</strong> {{ hotel.lump_sums.name }}</p>
                <p><strong>Ostatnio aktualizowany:</strong> {{ hotel.update_date.date }}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
