<div *ngIf="!isLoading" class="hotel-container">
    <mat-card
            *ngFor="let hotel of displayedHotels"
            class="hotel-card"
            (click)="viewHotelDetails(hotel.id)">
        <mat-card-header>
            <div class="hotel-header-text">
                <div *ngIf="hotel?.oldName" class="old-name-badge">
                    Poprzednia nazwa: {{ hotel?.oldName }}
                </div>
                <mat-card-title>{{ hotel?.name }}</mat-card-title>
                <mat-card-subtitle>Rejon: {{ hotel?.region?.name }}</mat-card-subtitle>
            </div>
        </mat-card-header>

        <mat-card-content>
            <p><strong>Ryczałty:</strong> {{ hotel.lump_sums.name }}</p>
            <p><strong>Ostatnio aktualizowany:</strong> {{ hotel.update_date }}</p>
        </mat-card-content>
    </mat-card>
    <div class="back-button">
        <button mat-raised-button (click)="goBack()">Powrót</button>
    </div>
</div>
