/* search-bar.component.css */
.search-bar-wrapper {
    width: 100%;
    max-width: 800px; /* Adjust max-width to make it more responsive */
    padding: 0 16px; /* Add some padding for smaller screens */
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar {
    width: 100%;
    max-width: 600px; /* Adjust max-width as needed */
}
