/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .cdk-overlay-container {
    z-index: 9999 !important;
    position: fixed !important;
    pointer-events: auto !important;
}

::ng-deep .mat-datepicker-content {
    z-index: 1000 !important;
    pointer-events: auto;
}

html, body {
    overflow: visible !important;
}