<div class="dashboard">
    <mat-card class="dashboard-card" (click)="navigateTo('manage-regions')">
        <mat-card-title>Zarządzaj rejonami</mat-card-title>
        <mat-card-content>
            Dodawaj, edytuj, lub usuwaj rejony.
        </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card" (click)="navigateTo('manage-hotels')">
        <mat-card-title>Zarządzaj hotelami</mat-card-title>
        <mat-card-content>
            Dodawaj, edytuj, lub usuwaj hotele i przypisuj je do rejonów.
        </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card" (click)="navigateTo('manage-lump-sums')">
        <mat-card-title>Zarządzaj zestawami ryczałtów</mat-card-title>
        <mat-card-content>
            Twórz i zarządzaj stałymi opłatami do hoteli.
        </mat-card-content>
    </mat-card>
</div>
